<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Stack</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.edu.view.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RanomCodeServlet</display-name>
    <servlet-name>RanomCodeServlet</servlet-name>
    <servlet-class>com.edu.view.RanomCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RanomCodeServlet</servlet-name>
    <url-pattern>/RanomCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SnackServlet</display-name>
    <servlet-name>SnackServlet</servlet-name>
    <servlet-class>com.edu.view.SnackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SnackServlet</servlet-name>
    <url-pattern>/Snack</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChineseMenuServlet</display-name>
    <servlet-name>ChineseMenuServlet</servlet-name>
    <servlet-class>com.edu.view.ChineseMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChineseMenuServlet</servlet-name>
    <url-pattern>/ChineseMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForeignMenuServlet</display-name>
    <servlet-name>ForeignMenuServlet</servlet-name>
    <servlet-class>com.edu.view.ForeignMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForeignMenuServlet</servlet-name>
    <url-pattern>/ForeignMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.edu.view.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KitchenServlet</display-name>
    <servlet-name>KitchenServlet</servlet-name>
    <servlet-class>com.edu.view.KitchenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KitchenServlet</servlet-name>
    <url-pattern>/Kitchen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuditServlet</display-name>
    <servlet-name>AuditServlet</servlet-name>
    <servlet-class>com.edu.view.AuditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuditServlet</servlet-name>
    <url-pattern>/Audit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypeManageServlet</display-name>
    <servlet-name>TypeManageServlet</servlet-name>
    <servlet-class>com.edu.view.TypeManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeManageServlet</servlet-name>
    <url-pattern>/TypeManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeUserServlet</display-name>
    <servlet-name>HomeUserServlet</servlet-name>
    <servlet-class>com.edu.view.HomeUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeUserServlet</servlet-name>
    <url-pattern>/HomeUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeAuditServlet</display-name>
    <servlet-name>HomeAuditServlet</servlet-name>
    <servlet-class>com.edu.view.HomeAuditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeAuditServlet</servlet-name>
    <url-pattern>/HomeAudit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeSnackServlet</display-name>
    <servlet-name>HomeSnackServlet</servlet-name>
    <servlet-class>com.edu.view.HomeSnackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeSnackServlet</servlet-name>
    <url-pattern>/HomeSnack</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>IsLoginFilter</display-name>
    <filter-name>IsLoginFilter</filter-name>
    <filter-class>com.edu.view.IsLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IsLoginFilter</filter-name>
    <url-pattern>/Backstage/home.jsp</url-pattern>
  </filter-mapping>
</web-app>