@charset "UTF-8";
.listnav {
	width: 1000px;
	margin: 0px auto;
	margin-top: 2px;
	position: relative;
}

.listnav_con dl {
	padding: 10px 16px 14px;
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}

.listnav_con dl.w990 {
	width: 957px;
}

.listnav_con dl dt {
	display: Block;
	height: 42px;
	line-height: 42px;
	font-size: 24px;
	font-family: Microsoft Yahei;
	position: relative;
	color: gray;
}

.listnav_con dl dt span.new {
	position: absolute;
	height: 18px;
	width: 52px;
	display: block;
	left: 50px;
	top: 0px;
}

.listnav_con dl dd {
	font-size: 14px;
	color: #666;
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
	height: 28px;
	margin-top: 10px;
}

/* .listnav_con dl dd h1{display:inline-block;vertical-align:top;*display:inline;*zoom:1;} */
.listnav_con dl dd a {
	padding: 0px 8px;
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
	height: 28px;
	line-height: 28px;
	color: #666;
}

.listnav_con dl dd a.hot {
	color: #ff3232;
}

.listnav_con dl dd a:hover {
	background: #bf9410;
	color: #fff;
}

.listnav_con dl dd.current a {
	background: #ff3232;
	color: #fff;
}

.liststyle1_w {
	width: 988px;
	margin: 0px auto 20px;
}

.fliterstyle1 {
	float: left;
	width: 232px;
	_overflow: hidden;
}

.fliterstyle1 div.chosedbox {
	padding: 14px 0px 6px 14px;
	width: 218px;
	background: #fff;
	overflow: hidden;
	margin-bottom: 20px;
}

.fliterstyle1 div.chosedbox a {
	float: left;
	margin: 0px 8px 8px 0px;
	display: block;
	height: 32px;
	width: 98px;
	background: #ff3232 url(../images/liststyle1_icons.png) right 0px
		no-repeat;
	color: #fff;
	line-height: 32px;
	font-size: 12px;
	text-indent: 14px;
	overflow: hidden;
	_display: inline;
}

.fliterstyle1 div.chosedbox a:hover {
	background-color: #e90808;
}

.fliterstyle1_main {
	width: 232px;
	background: #fff;
}

.fliterstyle1_main .tab {
	height: 50px;
	background: #f5f5f5;
}

.fliterstyle1_main .tab li {
	float: left;
	width: 116px;
	position: relative;
}

.fliterstyle1_main .tab li a {
	display: block;
	color: #333;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
	line-height: 50px;
}

.fliterstyle1_main .tab li a:hover {
	text-decoration: underline;
}

.fliterstyle1_main .tab li.current {
	background: #fff;
}

.fliterstyle1_main .tab li.current a {
	color: #bf9410;
}

.fliterstyle1_main .tabcon {
	overflow: hidden;
}

.fliterstyle1_main .tabcon dl {
	
}

.fliterstyle1_main .tabcon dl dt {
	display: block;
	height: 50px;
	line-height: 50px;
	color: #333;
	text-indent: 14px;
	font-size: 14px;
	background: url(../images/liststyle1_icons.png) right -96px no-repeat;
	border-bottom: 1px solid #ddd;
	float: left;
	width: 232px;
}

.fliterstyle1_main .tabcon dl dt a {
	color: #333;
}

.fliterstyle1_main .tabcon dl dt a:hover {
	text-decoration: underline;
	color: #ff3232;
}

.fliterstyle1_main .tabcon dl dd {
	display: none;
	padding: 14px 0px 6px 14px;
	width: 218px;
	background: #fafafa;
	border-bottom: 1px solid #ddd;
	float: left;
}

.fliterstyle1_main .tabcon dl dd.row2 a {
	float: left;
	margin: 0px 8px 8px 0px;
	display: block;
	height: 30px;
	width: 202px;
	border: 1px solid #eee;
	background: #fff;
	color: #333;
	line-height: 30px;
	font-size: 12px;
	text-align: center;
	overflow: hidden;
	position: relative;
}

.fliterstyle1_main .tabcon dl dd.row2 a span.yjtip {
	position: absolute;
	height: 20px;
	background: #60a531;
	color: #e90808;
	line-height: 20px;
	color: #fff;
	padding: 0px 5px;
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
	left: 5px;
	top: 5px;
}

.fliterstyle1_main .tabcon dl dd.row2 a strong {
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
	float: left;
	padding-left: 60px;
}

.fliterstyle1_main .tabcon dl dd.row2 a em {
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
	float: right;
	padding-right: 20px;
	color: #999;
}

.fliterstyle1_main .tabcon dl dd.bb0 {
	border-bottom: 0px;
}

.fliterstyle1_main .tabcon dl dd a {
	float: left;
	margin: 0px 8px 8px 0px;
	display: block;
	height: 30px;
	width: 96px;
	border: 1px solid #eee;
	background: #fff;
	color: #333;
	line-height: 30px;
	font-size: 12px;
	text-align: center;
	overflow: hidden;
}

.fliterstyle1_main .tabcon dl dd a:hover {
	border: 1px solid #aaa;
	background: #fff url(../images/liststyle1_icons.png) right -66px
		no-repeat;
}

.fliterstyle1_main .tabcon dl dd a.chosed {
	border: 1px solid #f3f3f3;
	background: #fff url(../images/liststyle1_icons.png) right -34px
		no-repeat;
}

.fliterstyle1_main .tabcon dl dd.long {
	height: 30px;
	line-height: 30px;
	color: #666;
	text-align: center;
	padding: 7px;
	border-top: 1px solid #eee;
}

.fliterstyle1_main .tabcon dl dd.long:hover {
	background: #eee;
	cursor: pointer;
}

.fliterstyle1_main .tabcon dl dd a.filter_otherbtn {
	background: #ddd;
	border: 1px solid #ccc;
	width: 202px;
}

.fliterstyle1_main .tabcon dl dd a.filter_otherbtn:hover {
	background: #ccc;
}

.fliterstyle1_main .tabcon dl dd div.others {
	display: none;
	float: left;
}

.fliterstyle1_main .tabcon dl dd a.filter_otherbtn {
	
}

.fliterstyle1_main .tabcon dl.on dt {
	background-image: none;
}

.fliterstyle1_main .tabcon dl.on dd {
	display: block;
}

.tabcon_scsearch {
	height: 50px;
	width: 232px;
	border-bottom: 1px solid #eee;
	float: left;
}

.tabcon_scsearch div.w {
	height: 28px;
	width: 202px;
	border: 1px solid #ddd;
	background: #fafafa;
	margin: 10px 14px;
	position: relative;
	overflow: hidden;
}

.tabcon_scsearch div.w input.text {
	height: 20px;
	padding: 4px;
	line-height: 20px;
	width: 160px;
	border: 0px;
	background: none;
	color: #999;
	overflow: hidden;
}

.tabcon_scsearch div.w input.submit {
	cursor: pointer;
	border: 0px;
	background: none;
	background: url(../images/searchbtn1.png) 0px -6px no-repeat;
	height: 28px;
	width: 32px;
	position: absolute;
	right: 0px;
	top: 0px;
	overflow: hidden;
}

.tabcon_scsearch div.w input.submit:hover {
	background-position: 0px -46px;
}

.listtyle1_w {
	float: left;
	width: 756px;
}

.listtyle1_w_c4 {
	width: 990px;
}

.listtyle1 {
	margin-left: 20px;
	background: #fff;
	height: 332px;
	width: 232px;
	position: relative;
	float: left;
	margin-bottom: 20px;
	_display: inline;
}

.listtyle1 div.img {
	position: relative;
	height: 232px;
	width: 232px;
}

.listtyle1 div.img a.img {
	display: block;
	height: 232px;
	width: 232px;
}

.listtyle1 div.img img.cpimg {
	display: block;
	height: 232px;
	width: 232px;
}

.listtyle1 div.img .gx {
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
	height: 38px;
	position: absolute;
	right: -6px;
	top: 12px;
	background: url(../images/gxarrow.png) right 32px no-repeat;
}

.listtyle1 div.img .gx a {
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
	height: 32px;
	padding: 0px 12px;
	background: #60a531;
	line-height: 32px;
	color: #fff;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	font-size: 14px;
}

.listtyle1 div.img .gx span {
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
	height: 32px;
	padding: 0px 12px;
	background: #60a531;
	line-height: 32px;
	color: #fff;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	font-size: 14px;
}

.listtyle1 div.img .gx a:hover {
	text-decoration: underline;
}

.listtyle1 div.info1 {
	height: 100px;
}

.listtyle1 div.info1 h3 {
	margin-top: 10px;
	height: 28px;
	line-height: 28px;
	text-indent: 14px;
	overflow: hidden;
	white-space: nowrap;
}

.listtyle1 div.info1 h3 a {
	color: #333;
	font-size: 14px;
	font-weight: bold;
}

.listtyle1 div.info1 h3 a:hover {
	color: #ff3232;
}

.listtyle1 div.info1 strong.title {
	padding-top: 10px;
	height: 28px;
	line-height: 28px;
	text-indent: 14px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	width: 232px;
}

.listtyle1 div.info1 strong.title a {
	color: #333;
	font-size: 14px;
	font-weight: bold;
}

.listtyle1 div.info1 strong.title a:hover {
	color: #ff3232;
}

.listtyle1 div.info1 div.d1 {
	height: 24px;
	line-height: 24px;
	padding-left: 14px;
}

.listtyle1 div.info1 div.d1 span {
	color: #999;
	padding-right: 10px;
	display: inline-block;
	vertical-align: top;
	*zoom: 1;
	*display: inline;
}

.listtyle1 div.info1 a.author {
	line-height: 24px;
	color: #ff3232;
	padding-left: 14px;
}

.listtyle1 div.info1 a.author:hover {
	text-decoration: underline;
}

.listtyle1 div.info1 .delete {
	position: absolute;
	right: 14px;
	bottom: 14px;
	display: block;
	height: 22px;
	line-height: 22px;
	color: #999;
	cursor: pointer;
}

.listtyle1 div.info1 .delete a {
	color: #999;
}

.listtyle1 div.info1 .delete a:hover {
	color: #ff3232;
	text-decoration: underline;
}

.listtyle1 a.big {
	display: block;
	height: 332px;
	width: 232px;
}

.listtyle1 a.big .img {
	height: 232px;
	width: 232px;
	display: block;
}

.listtyle1 a.big .i_w {
	height: 100px;
	width: 232px;
	overflow: hidden;
}

.listtyle1 a.big .i_w .i {
	height: 200px;
	width: 232px;
}

.listtyle1 a.big .i_w .c1 {
	height: 100px;
	width: 232px;
	overflow: hidden;
}

.listtyle1 a.big .i_w .c1 strong {
	display: block;
	height: 24px;
	line-height: 24px;
	padding: 11px 14px 0px;
	font-size: 14px;
	color: #333;
	font-weight: bold;
	overflow: hidden;
}

.listtyle1 a.big .i_w .c1 span {
	display: block;
	height: 26px;
	line-height: 26px;
	padding: 0px 14px 0px;
	font-size: 12px;
	color: #999;
}

.listtyle1 a.big .i_w .c1 em {
	display: block;
	height: 23px;
	line-height: 23px;
	padding: 0px 14px 0px;
	font-size: 12px;
	color: #bf9410;
}

.listtyle1 a.big .i_w .c2 {
	height: 100px;
	width: 232px;
	overflow: hidden;
	background: #eee;
}

.listtyle1 a.big .i_w .c2 ul {
	padding: 20px 0px 15px 14px
}

.listtyle1 a.big .i_w .c2 ul li {
	float: left;
	height: 32px;
	width: 208px;
	background: url(../images/list_style1_icons.png) no-repeat;
	text-indent: 32px;
	line-height: 32px;
	color: #666;
	font-size: 14px;
}

.listtyle1 a.big .i_w .c2 ul li.li2 {
	background-position: -9px -44px;
}

.listtyle1 a.big .i_w .c2 ul li.li1 {
	background-position: -9px -126px;
}

.listtyle1 .gx {
	display: inline-block;
	vertical-align: top;
	height: 38px;
	position: absolute;
	right: -6px;
	top: 12px;
	background: url(../images/gxarrow.png) right 32px no-repeat;
}

.listtyle1 .gx span {
	display: inline-block;
	vertical-align: top;
	height: 32px;
	padding: 0px 12px;
	background: #60a531;
	line-height: 32px;
	color: #fff;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	font-size: 14px;
}

.alertbox_w {
	width: 400px;
}

.alertbox_w .ul_w {
	width: 400px;
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
	padding: 25px 0px 15px;
	border-bottom: 1px solid #ddd;
}

.alertbox_w ul {
	width: 340px;
	margin: 0px auto;
	height: 250px;
	overflow: auto;
}

.alertbox_w ul li {
	height: 38px;
	line-height: 38px;
	color: #666;
	background: #fff;
	margin: 0px auto 10px;
	width: 300px;
	cursor: pointer;
	border: 1px solid #fff;
}

.alertbox_w ul li:hover {
	border: 1px solid #ddd;
}

.alertbox_w .btns {
	width: 400px;
	height: 84px;
	position: relative;
	overflow: hidden;
}

.alertbox_w .btns a.ok {
	display: block;
	height: 42px;
	width: 100px;
	background: #ff3232;
	border: 1px solid #d90808;
	font-size: 14px;
	color: #fff;
	text-align: center;
	top: 20px;
	right: 20px;
	line-height: 42px;
	position: absolute;
}

.alertbox_w .btns a.ok:hover {
	background: #e90808;
}

.alertbox_w .btns a.delthiscp {
	display: block;
	height: 42px;
	width: 100px;
	background: #f5f5f5;
	border: 1px solid #ddd;
	font-size: 14px;
	color: #666;
	text-align: center;
	top: 20px;
	left: 20px;
	line-height: 42px;
	position: absolute;
}

.alertbox_w .btns a.delthiscp:hover {
	background: #ddd;
}

.alertbox_w ul li span.checkbox {
	display: block;
	height: 40px;
	width: 40px;
	float: left;
	background: url(../images/checkboxstyle1.gif) 0px 0px no-repeat;
}

.alertbox_w ul li.checkbox_checked span.checkbox {
	background-position: 0px -40px;
}

.alertbox_w ul li strong {
	float: left;
	display: block;
	height: 40px;
	width: 250px;
	font-size: 14px;
	color: #666;
	text-align: left;
}

.listtyle1 .info2 {
	position: absolute;
	height: 232px;
	width: 232px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}

.listtyle1 .info2 a.link_cp {
	display: block;
	height: 232px;
	width: 232px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0px;
	background: url(../images/blank.gif) 0px 0px repeat;
}

.listtyle1 .info2 a.img {
	display: block;
	height: 232px;
	width: 232px;
	background: url(../images/blank.gif) 0px 0px repeat;
}

.listtyle1 .info2_c {
	display: block;
	height: 232px;
	width: 232px;
	background: url(../images/black75.png) 0px 0px repeat;
	position: absolute;
	left: 232px;
	top: 0px;
	overflow: hidden;
}

.listtyle1 .info2 .gx2 {
	z-index: 100;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
	height: 32px;
	position: absolute;
	right: -6px;
	top: 12px;
	background: #60a531;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	line-height: 32px;
	color: #fff;
	font-size: 14px;
}

.listtyle1 .info2 .gx2 span {
	padding: 0px 12px;
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}

.listtyle1 .info2 .gx2 a {
	line-height: 32px;
	color: #fff;
	font-size: 14px;
}

.listtyle1 .info2 .gx2 a:hover {
	text-decoration: underline;
}

.listtyle1 .info2 a.link_cp ul {
	padding: 71px 0px 41px;
	height: 120px;
}

.listtyle1 .info2 a.link_cp ul li {
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 12px;
	float: left;
	width: 100px;
	background: url(../images/list_style1_icons.png) no-repeat;
	text-indent: 50px;
}

.listtyle1 .info2 a.link_cp ul li.col2 {
	width: 232px;
}

.listtyle1 .info2 a.link_cp ul li.zl {
	background-position: 10px 0px;
}

.listtyle1 .info2 a.link_cp ul li.gy {
	background-position: 10px -40px;
}

.listtyle1 .info2 a.link_cp ul li.kw {
	background-position: 10px -80px;
}

.listtyle1 .info2 a.link_cp ul li.nd {
	background-position: 10px -120px;
}

.listtyle1 .info2 a.link_cp ul li.sj {
	background-position: 10px -160px;
}

.listtyle1 .info2 a.link_cp ol {
	padding: 51px 0px 41px 20px;
	height: 120px;
}

.listtyle1 .info2 a.link_cp ol li {
	height: 24px;
	line-height: 24px;
	color: #fff;
	font-size: 12px;
	float: left;
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
	padding: 0px 11px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.listtyle1 .info2 a.link_cp ol li.yi {
	background: #60a531;
}

.listtyle1 .info2 a.link_cp ol li.ji {
	background: #ff3232;
}

.listtyle1 .info2 a.link_cp ol li.nor {
	background: #ff822e;
}

.listtyle1 .info2 a.link_cp ol li.col2 {
	width: 232px;
}

.listtyle1_page {
	height: 40px;
	margin: 40px auto;
	text-align: center;
}

.listtyle1_page_w {
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
	margin: 0px auto;
}

.listtyle1_page_w a {
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
	height: 40px;
	line-height: 40px;
	padding: 0px 13px;
	min-width: 14px;
	text-align: center;
	margin-right: 1px;
	background: #f5f5f5;
	white-space: nowrap;
	color: #666;
	font-size: 14px;
	_width: 10px;
}

.listtyle1_page_w span {
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
	padding: 0px 10px;
	min-width: 14px;
	line-height: 40px;
}

.listtyle1_page_w a.current {
	background: #bf9410;
	color: #fff;
}

.listtyle1_page_w a:hover {
	background: #bf9410;
	color: #fff;
}

.listtyle1_page_w a.prev {
	margin-right: 20px;
}

.listtyle1_page_w a.next {
	margin-left: 20px;
}

.gopage input.text {
	height: 38px;
	line-height: 38px;
	border: 1px solid #f5f5f5;
	background: #fff;
	width: 38px;
	text-align: center;
	color: #666;
	font-size: 14px;
}
.gopage input.submit {
    height: 38px;
    line-height: 34px;
    border: 1px solid #eee;
    background: #f5f5f5;
    width: 50px;
    text-align: center;
    color: #666;
    font-size: 14px;
    cursor: pointer;
    
}